{% extends "global/index.html" %}
{% load crispy_forms_tags %}
{% block titulo %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h2 col-5 center container mb-0 text-gray-800">Cadastro de um novo aluno</h1>
</div>
{% endblock titulo %}


{% block conteudo %}
<form action="" method="POST" enctype="multipart/form-data">
    <div>
        {% csrf_token %}
        {{form|crispy}}
    </div>
    <div>
        <button class="btn btn-primary" typy="subimt">Salvar</button>
    </div>
</form>
{% endblock conteudo %}


