{% extends "global/index.html" %}
{% load crispy_forms_tags %}
{% block titulo %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h2 col-5 center container mb-0 text-gray-800">Cadastre novos Campus</h1>
</div>
{% endblock titulo %}


{% block conteudo %}

    <div class="main-content container">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="form-content form-content-grid">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                    {% if field.help_text %}
                        <p class="help-text">{{field.help_text}}</p>
                    {% endif %}

                    {% if field.errors %}{% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="form-content form-content-grid">
                <div class="form-group">
                    <button typy="subimt">Salvar</button>
                </div>
            </div>
        </form>
    </div>

{% endblock conteudo %}


