{% extends "global/index.html" %}
{% load crispy_forms_tags %}
{% block titulo %}
<div class="d-sm-flex align-items-center justify-content-center mb-4">
    <h1 class="h2 text-center text-gray-800">Cadastre novos Campus</h1>
</div>
{% endblock titulo %}


{% block conteudo %}

{% include "global/message.html" %}

<form action="" method="POST" enctype="multipart/form-data">
    <div>
        {% csrf_token %}
        {{form|crispy}}
    </div>
    <div>
        <button class="btn btn-primary" typy="subimt">Salvar</button>
    </div>
</form>
{% endblock conteudo %}


