{% extends "global/index.html" %}
{% load crispy_forms_tags %}
{% block titulo %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h2 col-5 center container mb-0 text-gray-800">Todos Estudantes</h1>
</div>
{% endblock titulo %}


{% block conteudo %}

<form action="" method="POST" enctype="multipart/form-data">
  <div>
    {% csrf_token %}
    {{form|crispy}}
  </div>
  <div>
    <button class="btn btn-primary" typy="subimt">Filtrar</button>
  </div>
</form>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Matricula</th>
        <th scope="col">Curso</th>
        <th scope="col">Campus</th>
        <th scope="col">Situaçao</th>
        <th scope="col">Modo de Entrada</th>
        <th scope="col">Açoes</th>
      </tr>
    </thead>
    <tbody>
        {% for estudantes in estudantes %}
            <tr>
                <td>{{estudantes.id}}</td>
                <td>{{estudantes.nomeEstudante}}</td>
                <td>{{estudantes.cpfEstudante}}</td>
                <td>{{estudantes.matriculaEstudante}}</td>
                <td>{{estudantes.cursoEstudante.nomeCurso}}</td>
                <td>{{estudantes.cursoEstudante.campus.nomeCampus}}</td>
                <td>{{estudantes.get_situacaoEstudante_display}}</td>
                <td>{{estudantes.get_modoDeEntrada_display}}</td>
                <td><button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button> <button type="button" class="btn btn-warning"><i class="fa fa-magic" aria-hidden="true"></i></button></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock conteudo %}


