{% extends "global/index.html" %}
{% load crispy_forms_tags %}
{% block titulo %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h2 col-5 center container mb-0 text-gray-800">Todos Estudantes</h1>
</div>
{% endblock titulo %}


{% block conteudo %}

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Matricula</th>
        <th scope="col">Curso</th>
        <th scope="col">Campus</th>
        <th scope="col">Situaçao</th>
        <th scope="col">Modo de Entrada</th>
        <th scope="col">Aniversário</th>
      </tr>
    </thead>
    <tbody>
        {% for estudantes in estudantes %}
            <tr>
                <td>{{estudantes.id}}</td>
                <td>{{estudantes.nomeEstudante}}</td>
                <td>{{estudantes.cpfEstudante}}</td>
                <td>{{estudantes.matriculaEstudante}}</td>
                <td>{{estudantes.cursoEstudante.nomeCurso}}</td>
                <td>{{estudantes.cursoEstudante.campus.nomeCampus}}</td>
                <td>{{estudantes.get_situacaoEstudante_display}}</td>
                <td>{{estudantes.get_modoDeEntrada_display}}</td>
                <td>{{estudantes.dataAniversario}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock conteudo %}


